.h{
    color: rgb(146, 227, 146);
}
.main-heading{
    background-color: #d0d6d5;
}
.mainpara{
    background-color: #d0d6d5;
}
body{
    font-family: 'Montserrat',sans-serif;
}
span{
    background-color: #7dffe8;
}